<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <style>
        #content-box {
            width: 100%;
            padding: 10px;
            height: 400px;
            resize: none;
            border: 1px solid black;
            border-radius: 10px;
        }

        img {
            width: 300px;
            height: 300px;
        }
    </style>
    <title>게시글 작성</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="http://localhost:3000">ToDo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <!--                <a class="nav-link" href="#">로그인</a>-->
            </li>
            <li class="nav-item">
                <!--                <a class="nav-link" href="#">회원가입</a>-->
            </li>
        </ul>
    </div>
</nav>

<h4 class="container mt-4">
    <strong>게시글</strong>
</h4>

<div class="container mt-3">
    <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" id="title" value="<%= data.board.title %>" readonly>
    </div>
    <div class="form-group">
        <label>작성자</label>
        <input type="text" class="form-control" id="nickName" value="<%= data.nickName.nickName %>" readonly>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">내용</label>
        <div id="content-box">
            <div id="content">
                <%= data.board.content %>
            </div>
            <% if (data.imgUrl?.img_url !== 'undefined') { %>
                <div id="img-box">
                    <img src="<%= data.imgUrl.img_url %>" alt="업로드 이미지">
                </div>
            <% } %>
        </div>
    </div>
    <% if (loginUser.nickName === data.nickName.nickName) { %>
        <div style="float: right;">
            <a class="btn btn-primary" href="http://localhost:3000/board/list">목록</a>
            <a class="btn btn-primary" href="http://localhost:3000/board/edit/<%= data.board.id %>">수정</a>
            <a class="btn btn-primary" onclick="deleteBoard(<%= data.board.id %>)">삭제</a>
        </div>
    <% } else { %>
        <div style="float: right;">
            <a class="btn btn-primary" href="http://localhost:3000/board/list">목록</a>
        </div>
    <% } %>
    <br><br>
    <hr>
    <div class="comment-area">
        <!--    댓글 입력창    -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Recipient's username" id="comment"
                   aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                        onclick="writeComment(<%= data.board.id %>)">댓글
                </button>
            </div>
        </div>
        <div id="comment-list">
            <!--     작성된 댓글 리스트       -->
        </div>
    </div>

</div>

<script>
    let boardId = window.location.pathname.split('/')[3];
    $(document).ready(function () {
        viewComment(boardId);
    });

    // 댓글 조회
    function viewComment(boardId) {
        $.ajax({
            url: `http://localhost:3000/comment/view/${boardId}`,
            method: `GET`,
            data: {},
            success: function (response) {
                let memberId = response.loginUser;
                let commentMember = response.result;

                let commentTemplate;
                for (let i = 0; i < response.result.length; i++) {
                    if (memberId !== commentMember[i].member_id) {
                        commentTemplate = `<br>
                                            <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="${commentMember[i].id}">${commentMember[i].nickName}</span>
                                            </div>
                                            <input type="text" aria-label="First name" class="form-control" readonly value="${commentMember[i].comment}">
                                            </div>
                                            `

                        $('#comment-list').append(commentTemplate);
                    } else {
                        commentTemplate = `<br>
                                            <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="${commentMember[i].id}">${commentMember[i].nickName}</span>
                                            </div>
                                            <input type="text" aria-label="First name" class="form-control" readonly value="${commentMember[i].comment}">
                                            </div>

                                            <!--   수정 댓글 창   -->
                                            <div class="input-group mb-3" id="edit-${commentMember[i].id}" style="display: none">
                                                <input type="text" class="form-control" aria-label="Recipient's username" id="edit-comment-${commentMember[i].id}"
                                                       aria-describedby="button-addon2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                                            onclick="editComment(${commentMember[i].id})">수정하기
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-success" onclick="commentEditModal(${commentMember[i].id})">수정</button>
                                                <button type="button" class="btn btn-danger" onclick="deleteComment(${commentMember[i].id})">삭제</button>
                                            </div>`

                        $('#comment-list').append(commentTemplate);
                    }
                }
            },
            error: function (response) {
                window.location.reload();
            }
        });
    }

    // 댓글 작성
    function writeComment(boardId) {
        let comment = document.getElementById('comment').value;
        $.ajax({
            url: `http://localhost:3000/comment/write`,
            method: `POST`,
            data: {
                comment: comment,
                boardId: boardId,
            },
            success: function (response) {
                alert(response.message);
                // 글 삭제 완료후 글 리스트 페이지
                window.location.replace(`http://localhost:3000/board/detail/${boardId}`);
            },
            error: function (response) {
                alert(response.message);
                // 글 삭제 실패시 다시 상세 페이지
                window.location.reload();
            }
        });
    }

    // 댓글 수정
    function editComment(commentId) {
        let comment = document.getElementById(`edit-comment-${commentId}`).value;
        $.ajax({
            url: `http://localhost:3000/comment/edit/${commentId}`,
            method: `PATCH`,
            data: {
                commentId: commentId,
                comment: comment
            },
            success: function (response) {
                alert(response.message);
                // 댓글 수정 완료후 글 리스트 페이지
                window.location.replace(`http://localhost:3000/board/detail/${boardId}`);
            },
            error: function (response) {
                alert(response.message);
                window.location.reload();
            }
        });
    }

    // 댓글 삭제
    function deleteComment(commentId) {
        if (confirm('삭제 하시나요?')) {
            $.ajax({
                url: `http://localhost:3000/comment/delete/${commentId}`,
                method: `DELETE`,
                data: {},
                success: function (response) {
                    alert(response.message);
                    // 댓글 수정 완료후 글 리스트 페이지
                    window.location.replace(`http://localhost:3000/board/detail/${boardId}`);
                },
                error: function (response) {
                    alert(response.message);
                    window.location.reload();
                }
            });
        }

    }

    // 게시글 삭제
    function deleteBoard(boardId) {
        $.ajax({
            url: `http://localhost:3000/board/delete/${boardId}`,
            method: `DELETE`,
            data: {},
            success: function (response) {
                alert(response.message);
                // 글 삭제 완료후 글 리스트 페이지
                window.location.replace(`http://localhost:3000/board/list`);
            },
            error: function (response) {
                alert(response.message);
                // 글 삭제 실패시 다시 상세 페이지
                window.location.reload();
            }
        });
    }

    // 댓글 수정 모달창
    function commentEditModal(commentId) {
        let modal = document.getElementById(`edit-${commentId}`).style.display;

        if (modal === 'block') {
            document.getElementById(`edit-${commentId}`).style.display = 'none';
        } else {
            document.getElementById(`edit-${commentId}`).style.display = 'block';
        }
        return modal;
    }

</script>
</body>
</html>